<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <center>Top 10</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item *ngFor="let p of list">

      <ion-card fixed>

        <ion-card-header>
          <ion-card-subtitle> 
            <label class="title"> {{ p.name }} </label> 
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content align="right">

          <ion-chip color="primary" mode="ios" outline="true">
            <ion-icon name="alarm-outline"></ion-icon>
            <div *ngIf="p.minutos < 10; then yesMinute else noMinute"></div>
            <ng-template #yesMinute>Tiempo: 0{{p.minutos}}:</ng-template>
            <ng-template #noMinute>Tiempo: {{p.minutos}}:</ng-template>
      
      
            <div *ngIf="p.segundos < 10; then yesSec else noSec"></div>
            <ng-template #yesSec>0{{p.segundos}}</ng-template>
            <ng-template #noSec>{{p.segundos}}</ng-template>
      
          </ion-chip>

            <ion-chip color="primary" mode="ios" outline="true">
              <ion-icon name="star-half-outline"></ion-icon>
              <ion-label>Puntaje: {{p.points}} / 20</ion-label>
            </ion-chip>

        </ion-card-content>

      </ion-card>
      
    </ion-item>
  </ion-list>

</ion-content>
